.audiswiper {
  width: 100%;
  height: auto;
  background-color: black;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.audiswiper:hover,
.audiswiper:hover .swiper-slide {
  background-color: gray; /* 슬라이드 영역에 마우스를 올렸을 때 배경색 변경 */
  transition: background-color 0.3s ease;
}

.audikor {
  margin-top: 20px;
  color: white;
  font-size: 30px;
  margin-left: 100px;
  display: block;
}

.audilogo {
  margin-top: 30px;
  margin-left: 100px;
  height: 70px;
  display: block;
}

.audilogo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* 스와이퍼와의 간격 조절 */
  margin-top: 40px;
}

.audi1 {
  height: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.audi-caption {
  position: absolute;
  bottom: 20px; /* 이미지 하단에 맞추기 위해 조정 */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px 10px;
  font-size: 1.5rem;
  width: 90%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
