.audiswiper {
  width: 100%;
  height: auto;
  background-color: #373737;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.audikor {
  font-family: 'JalnanGothic';
  margin-top: 20px;
  color: white;
  font-size: 30px;
  margin-left: 100px;
  display: block;
}

.audilogo {
  margin-left: 100px;
  display: block;
}

.audilogo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  margin-top: 30px;
}

.image-container:hover {
  background-color: gray;
  transition: background-color 0.5s ease;
}

.image-container:hover .audi-caption {
  background-color: gray;
  color: #ffffff;
  transition: background-color 0.5s ease;
}

.image-container img {
  max-width: 100%;
  height: 100%; /* 이미지 높이 고정 */
  object-fit: cover; /* 이미지 비율 유지 및 캡션과 맞춤 */
}

.audi-caption {
  position: absolute;
  bottom: 0px; /* 이미지 하단에 맞추기 위해 조정 */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px 10px;
  font-size: 1.5rem;
  width: 90%;
  text-align: center;
  background-color: #373737;
}
