.benzswiper {
  width: 100%;
  height: auto;
  background-color: #373737;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.benzkor {
  font-family: 'JalnanGothic';
  margin-top: 20px;
  color: white;
  font-size: 30px;
  margin-left: 100px;
  display: block;
}

.benzlogo {
  margin-left: 100px;
  display: block;
}

.benzlogo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  margin-top: 30px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 250px; /* 이미지와 캡션을 위한 고정 높이 설정 */
  text-align: center;
  padding: 10px;
  box-sizing: border-box; /* padding을 포함하여 높이 설정 */
}

/* 이미지와 캡션에 hover 시 같은 효과 적용 */
.image-container:hover {
  background-color: gray;
  transition: background-color 0.5s ease;
}

/* image-container가 hover되면 캡션도 같이 변경되도록 설정 */
.image-container:hover .benz-caption {
  background-color: gray;
  color: #ffffff;
  transition: background-color 0.5s ease;
}

.image-container img {
  max-width: 100%;
  height: 100%; /* 이미지 높이 고정 */
  object-fit: cover; /* 이미지 비율 유지 및 캡션과 맞춤 */
}

.benz-caption {
  position: absolute;
  bottom: 0px; /* 이미지 하단에 맞추기 위해 조정 */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px 10px;
  font-size: 1.5rem;
  width: 90%;
  text-align: center;
  background-color: #373737;
}
