* {
  margin: 0;
  padding: 0;
}
.searchbar {
  width: 100%;
  background-color: #373737;
  padding: 30px 0px;
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  margin-top: -5px;
  justify-content: space-between; /* 양 끝에 배치 */
}
.search {
  font-size: 25px;
  margin-left: 120px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.input1 {
  margin-top: 20px;
  margin-left: 10px;
  width: 500px;
  height: 30px;
  border: 1px solid white;
  background-color: #373737;
  color: white;
}

.search-btn {
  margin-top: 20px;
  margin-left: 0;
  height: 30px; 
  padding: 0 20px;
  background-color: #D9D9D9;
  color: black;
  font-weight: bold;
  border: 1px solid white;
  cursor: pointer;
}

.input-group {
  margin-right: 120px;
}